[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "third_party/juce-cmake"]
	path = third_party/juce-cmake
	url = https://github.com/remymuller/juce-cmake.git
[submodule "MidiKraft-base"]
	path = MidiKraft-base
	url = https://github.com/christofmuc/MidiKraft-base.git
[submodule "juce-widgets"]
	path = juce-widgets
	url = https://github.com/christofmuc/juce-widgets.git
[submodule "juce-utils"]
	path = juce-utils
	url = https://github.com/christofmuc/juce-utils.git
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "MidiKraft-librarian"]
	path = MidiKraft-librarian
	url = https://github.com/christofmuc/MidiKraft-librarian.git
[submodule "synths/MidiKraft-sequential-rev2"]
	path = synths/MidiKraft-sequential-rev2
	url = https://github.com/christofmuc/MidiKraft-sequential-rev2.git
[submodule "third_party/dtl"]
	path = third_party/dtl
	url = https://github.com/cubicdaiya/dtl.git
[submodule "MidiKraft-database"]
	path = MidiKraft-database
	url = https://github.com/christofmuc/MidiKraft-database.git
[submodule "third_party/SQLiteCpp"]
	path = third_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "synths/MidiKraft-sequential-ob6"]
	path = synths/MidiKraft-sequential-ob6
	url = https://github.com/christofmuc/MidiKraft-sequential-ob6.git
