builds/
*__pycache__*
.idea/
adaptations/CompiledAdaptions.h
third_party/Tools.InnoSetup.6.0.5/
builds6/
The-Orm/sentry-config.h
adaptations/CompiledAdaptations.h
codesigning/dsa_priv.pem
builds.old/
cmake-build-debug/
build_python310/
adaptations/testData/TORAIZ Artist Sound Pack Agreement.pdf
adaptations/testData/Toraiz AS-1 Synth Sunset Bank.tas1_bank
