[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "third_party/juce-cmake"]
	path = third_party/juce-cmake
	url = https://github.com/remymuller/juce-cmake.git
[submodule "MidiKraft-base"]
	path = MidiKraft-base
	url = https://github.com/christofmuc/MidiKraft-base.git
	branch = master
[submodule "juce-widgets"]
	path = juce-widgets
	url = https://github.com/christofmuc/juce-widgets.git
	branch = master
[submodule "juce-utils"]
	path = juce-utils
	url = https://github.com/christofmuc/juce-utils.git
	branch = master
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "MidiKraft-librarian"]
	path = MidiKraft-librarian
	url = https://github.com/christofmuc/MidiKraft-librarian.git
	branch = master
[submodule "synths/MidiKraft-sequential-rev2"]
	path = synths/MidiKraft-sequential-rev2
	url = https://github.com/christofmuc/MidiKraft-sequential-rev2.git
	branch = master
[submodule "third_party/dtl"]
	path = third_party/dtl
	url = https://github.com/cubicdaiya/dtl.git
[submodule "MidiKraft-database"]
	path = MidiKraft-database
	url = https://github.com/christofmuc/MidiKraft-database.git
	branch = master
[submodule "third_party/SQLiteCpp"]
	path = third_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "synths/MidiKraft-sequential-ob6"]
	path = synths/MidiKraft-sequential-ob6
	url = https://github.com/christofmuc/MidiKraft-sequential-ob6.git
	branch = master
[submodule "synths/MidiKraft-oberheim-matrix1000"]
	path = synths/MidiKraft-oberheim-matrix1000
	url = https://github.com/christofmuc/MidiKraft-oberheim-matrix1000.git
	branch = master
[submodule "synths/MidiKraft-korg-dw8000"]
	path = synths/MidiKraft-korg-dw8000
	url = https://github.com/christofmuc/MidiKraft-korg-dw8000.git
	branch = master
[submodule "synths/MidiKraft-yamaha-refacedx"]
	path = synths/MidiKraft-yamaha-refacedx
	url = https://github.com/christofmuc/MidiKraft-yamaha-refacedx.git
	branch = master
[submodule "synths/MidiKraft-kawai-k3"]
	path = synths/MidiKraft-kawai-k3
	url = https://github.com/christofmuc/MidiKraft-kawai-k3.git
	branch = master
[submodule "synths/MidiKraft-access-virus"]
	path = synths/MidiKraft-access-virus
	url = https://github.com/christofmuc/MidiKraft-access-virus.git
	branch = master
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "synths/MidiKraft-BCR2000"]
	path = synths/MidiKraft-BCR2000
	url = https://github.com/christofmuc/MidiKraft-BCR2000.git
	branch = master
