<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/christofmuc/appcasts/master/KnobKraft-Orm/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>CnrQ9vs+y0r8oO6yUKaNb2bnNwN2NvmVENTfPDOMhq4=</string>
  </dict>
</plist>
