# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: macOS KnobKraft Orm

on: push

jobs:
  build-macos:
    runs-on: macos-13
    steps:
    - name: Checkout repository with tags
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Additionally checkout submodules - don't use checkout action as it will overwrite refs
      run: |
        git submodule update --recursive --init --depth 1

    - name: Bootstrap MacPorts
      uses: melusina-org/setup-macports@v1

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Install ICU via MacPorts, because they can do universal binaries!
      run: |
        port install icu +universal

    - name: Prepare build machine with homebrew
      run: |
        brew install boost
        brew remove icu4c

    - uses: actions/setup-python@v3
      with:
        python-version: '3.12'

    - name: CMake configure
      shell: bash
      run: |
        cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_PREFIX_PATH=`brew --prefix icu4c`

    - name: CMake build
      run: cmake --build build --target package --parallel

    - name: Publish release
      uses: xresloader/upload-to-github-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        file: build/KnobKraft_Orm-${{env.ORM_VERSION}}-Darwin.dmg
        tags: true
        draft: false

