# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Ubuntu 24 KnobKraft Orm

on: [push]

jobs:
  build-ubuntu-24:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository with tags
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Additionally checkout submodules - don't use checkout action as it will overwrite refs
      run: |
        git submodule update --recursive --init --depth 1

    - name: Install dependencies from apt-get
      run: |
        cmake --version
        sudo apt-get -y update && sudo apt-get install -y libcurl4-openssl-dev pkg-config libtbb-dev libasound2-dev libboost-dev libgtk-3-dev libwebkit2gtk-4.1-dev libglew-dev libjack-dev libicu-dev cmake

    - name: Select proper Python version
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'
        architecture: 'x64'

    - name: Upgrade gcc to 14
      run: |
        sudo add-apt-repository universe
        sudo apt-get update
        sudo apt-get install gcc-14 g++-14

    - name: CMake configure
      env: # We get the SENTRY DSN from the repository's secret store
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      shell: bash
      run: |
        export KNOBKRAFT_EXTERNAL_VERSION="$(cmake -P cmake/calc_version.cmake)"
        CC=gcc-14 CXX=g++-14 cmake -S . -B builds  -DKNOBKRAFT_EXTERNAL_VERSION=$KNOBKRAFT_EXTERNAL_VERSION -DCMAKE_INTERPROCEDURAL_OPTIMIZATION=off -DPYTHON_VERSION_TO_EMBED=3.12 -DSENTRY_CRASH_REPORTING=ON -DSENTRY_DSN=$SENTRY_DSN

    - name: CMake build
      run: |
        cmake --build builds --target package -- -j4
        mv builds/KnobKraft_Orm-${{env.ORM_VERSION}}-Linux.tar.gz builds/KnobKraft_Orm-${{env.ORM_VERSION}}-Ubuntu24.tar.gz

    - name: Upload artifact for testing outside of a release
      uses: actions/upload-artifact@v4
      with:
        name: ubuntu24-release
        path: |
          builds/KnobKraft_Orm-${{env.ORM_VERSION}}-Ubuntu24.tar.gz

    - name: Publish release
      uses: xresloader/upload-to-github-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        file: builds/KnobKraft_Orm-${{env.ORM_VERSION}}-Ubuntu24.tar.gz
        tags: true
        draft: false

    - name: Setup Sentry CLI
      uses: mathieu-bour/setup-sentry-cli@1.2.0
      if: startsWith(github.ref, 'refs/tags/')
      with:
        token: ${{ secrets.SENTRY_AUTH_TOKEN }}
        organization: knobkraft
        project: knobkraft

    - name: Upload PDB files to Sentry for stack unwinding when this is a tagged build
      if: startsWith(github.ref, 'refs/tags/')
      working-directory: builds
      run: |
        sentry-cli upload-dif . --log-level=debug
