# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Ubuntu KnobKraft Orm

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout repository with tags
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Additionally checkout submodules - don't use checkout action as it will overwrite refs
      run: |
        git submodule update --recursive --init --depth 1

    - name: Install dependencies from apt-get
      run: sudo apt-get -y update && sudo apt-get install -y libcurl4-openssl-dev pkg-config libtbb-dev libasound2-dev libboost-dev libgtk-3-dev libwebkit2gtk-4.0-dev libglew-dev libjack-dev libicu-dev libpython3-dev

    - name: Patch JUCE
      working-directory: third_party/JUCE
      run: |
        git apply --whitespace=fix ../JUCE-patch-getApproxDescription.diff

    - name: CMake configure
      env: # We get the SENTRY DSN from the repository's secret store
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      shell: bash
      run: |
        cmake -S . -B builds -DCMAKE_INTERPROCEDURAL_OPTIMIZATION=off -DPYTHON_EXECUTABLE=/usr/bin/python3.8 -DPYTHON_VERSION_TO_EMBED=3.8 -DSENTRY_CRASH_REPORTING=ON -DSENTRY_DSN=$SENTRY_DSN

    - name: CMake build
      run: cmake --build builds --target package -- -j4

    - name: Publish release
      uses: xresloader/upload-to-github-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        file: builds/KnobKraft_Orm-${{env.ORM_VERSION}}-Linux.tar.gz

        tags: true

    - name: Setup Sentry CLI
      uses: mathieu-bour/setup-sentry-cli@1.2.0
      if: startsWith(github.ref, 'refs/tags/')
      with:
        token: ${{ secrets.SENTRY_AUTH_TOKEN }}
        organization: knobkraft
        project: knobkraft

    - name: Upload PDB files to Sentry for stack unwinding when this is a tagged build
      if: startsWith(github.ref, 'refs/tags/')
      working-directory: builds
      run: |
        sentry-cli upload-dif . --log-level=debug
